.container {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 73px;
  @include devices(largeTablet) {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
}
