$primary-color: #3d3a34;
$secondary-color: #746e63;
$light-gray: #dbd9d7;
$white: #ffffff;
$green-primary-color: #19b250;
$background-color: #f9f8f6;
$background-color-light: #fafafa;
$button-color: #f6f5f3;
$button-link: #2939a3;
$border-gray: #dfdfdd;
$description-color: #9b9a97;
$font-gray: #82817d;

$employee-sample-one-light: #f4eada;
$employee-sample-one-dark: #d9b883;
$employee-text-one: #7a6b52;

$employee-sample-two-light: #e8e8fd;
$employee-sample-two-dark: #b2b2f7;
$employee-text-two: #52577a;

$employee-sample-three-light: #f0ede8;
$employee-sample-three-dark: #a1998b;
$employee-text-three: #746e63;

$employee-sample-four-light: #e1f3e9;
$employee-sample-four-dark: #a3e1b4;
$employee-text-four: #247543;

$border-grid: 1px solid #dbd9d7;

$grid-button: #9b9a97;
$grid-button-border: 0.5px solid #82817d;
