.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  .cancel {
    @include cancelButton(80px, 35px);
  }
  .save {
    @include greenButton(69px, 35px);
    margin-left: 18px;
  }

  .removeShift {
    @include redButton(90px, 35px);
  }
  .rightButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
    margin-left: auto;
    button {
      margin-left: 20px;
    }
  }
}
