.container {
  width: 100%;
  margin-bottom: 45px;
  h2 {
    @include interMedium();
    font-size: 18px;
  }
  p {
    color: $description-color;
    @include interRegular();
    font-size: 14px;
    margin-bottom: 16px;
  }
  .dropdownIndicator {
    padding-right: 16.5px;
  }
}
