.container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.tableWrapper {
  margin-bottom: 20px;
}

.locationHeader {
  display: flex;
  justify-content: space-between; // Aligns items to the left and right
  align-items: center; // Vertically centers the items
}

.editableTitle {
  border: none; // Remove border
  background: none; // Remove background
  font-size: 1.2rem; // Adjust font size to match h3
  font-weight: bold; // Make it bold
  outline: none; // Remove outline on focus
  width: 100%; // Make it take full width
  padding: 0; // Remove padding
}

.header {
  display: flex;
  justify-content: flex-end; // Aligns the button to the right
  margin-bottom: 10px; // Add some space below the header
}

.addLocationButton {
  background-color: #4caf50; // Green background
  color: white; // White text
  border: none; // No border
  border-radius: 5px; // Rounded corners
  padding: 5px 8px; // Smaller padding for a smaller button
  font-size: 14px; // Smaller font size
  cursor: pointer; // Pointer cursor on hover
  transition: background-color 0.3s; // Smooth transition for hover effect

  &:hover {
    background-color: #45a049; // Darker green on hover
  }
}

.addButton {
  background-color: white; // Green background
  border: none; // No border
  border-radius: 5px; // Rounded corners
  padding: 5px 8px; // Smaller padding for a smaller button
  font-size: 14px; // Smaller font size
  cursor: pointer; // Pointer cursor on hover
  transition: background-color 0.3s; // Smooth transition for hover effect

  &:hover {
    background-color: #aaa; // Darker green on hover
  }
}

.cancelButton {
  background-color: white; // Red background
  border: none; // No border
  border-radius: 5px; // Rounded corners
  padding: 5px 8px; // Smaller padding for a smaller button
  font-size: 14px; // Smaller font size
  cursor: pointer; // Pointer cursor on hover
  transition: background-color 0.3s; // Smooth transition for hover effect

  &:hover {
    background-color: #aaa; // Darker red on hover
  }
}
