.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  h3 {
    color: $primary-color;
    font-size: 14px;
    @include interMedium();
  }
  p {
    color: $secondary-color;
    font-size: 14px;
    margin-bottom: 9px;
    @include interRegular();
  }
}

.fullName {
  display: flex;
  flex-direction: column;
  margin-right: 75px;
}

.role {
  display: flex;
  flex-direction: column;
}
